/*COPIA DESDE AQUÍ */
body {
    background: rgb(0,38,61);
    background: linear-gradient(90deg, rgba(0,38,61,1) 0%, rgba(0,113,143,1) 100%);
    color: white;
    font-family: "Lora", serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.caja1 {
    display: flex;
}

.logo {
    height: 70px;
    width: 70px;
}

.nombre_logo {
    font-family: "Abril Fatface", serif;
    margin: 0 0 0 10px;
    font-size: 50px;
}

.caja2 {
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    width: 100%;
    margin: 0 18px 0 18px;
}

.caja3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.link_superior {
    font-size: 35px;
}
/*FINALIZA ACÁ*/

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    padding-top: 15px;
}

main {
    margin: 40px 20px 0 20px;
}

.caja4 {
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
}

.descripcion {
    text-align: center;
    font-size: 25px;
    padding-bottom: 25px;
}

h2 {
    margin: 50px 0 30px 0;
    text-align: center;
    font-size: 40px;
}

.cursos_principales, .cursos_secundarios {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.curso_principal, .curso_secundario {
    width: 20%;
    height: 250px;
    background-color: rgb(8, 33, 58);
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    border-radius: 5px;
}

img {
    margin: 20px 0 0 0;
    height: 140px;
    width: 80%;
}

footer {
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
