<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuente insertada para logo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- Fuente insertada para letra general -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- Hoja de estilo -->
    <link rel="stylesheet" href="../../assets/css/styles_vista_principal.css?v=1.3">
    <title>Vista principal</title>
</head>

<body>
    <header>
        <div class="caja1">
            <img src="../../assets/img/logo.png" alt="logo" class="logo">
            <p class="nombre_logo">infoKT</p>
        </div>
        <div class="caja2">
            <nav class="caja3">
                <a href="./index.html" class="link_superior" title="Cursos opcionales">Inicio</a>
                <a href="../acerca_nosotros/index.html" class="link_superior" title="Acerca de">Acerca de</a>
                <a href="../perfil/index.html" class="link_superior" title="Perfil">Perfil</a>
            </nav>
        </div>
    </header>
<!-- FINALIZA ACÁ -->

    <main>
        <div class="caja4">
            <h1>Aprende todo para la ingeniería</h1>
            <p class="descripcion">Aquí encontrarás todo lo necesario para seguir estudiando los temas de tu ingeniería que<br>
            no comprendas o no te queden claros a tu propio ritmo.</p>
        </div>
        <h2 id="ruta_de_aprendizaje">Ruta de aprendizaje principal</h2>
        <div class="cursos_principales">
            <div class="curso_principal">
                <a href="../cursos/cursos_principales/curso_html/index.html" title="Curso de HTML">Curso de <br>HTML
                    <img src="../../assets/img/HTML.png" alt="HTML">
                </a>
            </div>
            <div class="curso_principal">
                <a href="../cursos/cursos_principales/curso_css/index.html" title="Curso de CSS">Curso de <br>CSS
                    <img src="../../assets/img/CSS.png" alt="CSS">
                </a>
                </div>
            <div class="curso_principal">
                <a href="../cursos/cursos_principales/curso_javascript/index.html" title="Curso de JavaScript">Curso de <br>JavaScript
                    <img src="../../assets/img/JavaScript.png" alt="JavaScript">
                </a>
            </div>
            <div class="curso_principal">
                <a href="../cursos/cursos_principales/curso_sql/index.html" title="Curso de SQL">Curso de <br>SQL
                    <img src="../../assets/img/SQL.png" alt="SQL">
                </a>
            </div>
        </div>
        <!--QUEDA PENDIENTE -->
        <h2 id="ruta_de_aprendizaje_secundaria">Ruta de aprendizaje secundaria</h2>
        <div class="cursos_secundarios">
            <div class="curso_secundario">
                <a href="../cursos/cursos_complementarios/curso_ingles/index.html" title="Curso de inglés">Curso de <br>Inglés
                    <img src="../../assets/img/ingles.png" alt="Inglés">
                </a>
            </div>
            <div class="curso_secundario">
                <a href="../cursos/cursos_complementarios/curso_matematicas/index.html" title="Curso de matemáticas">Curso de <br>Matemáticas
                    <img src="../../assets/img/matematicas.png" alt="Matemáticas">
                </a>
            </div>
            <div class="curso_secundario">
                <a href="../cursos/cursos_complementarios/curso_redes/index.html" title="Curso de redes">Curso de <br>redes
                    <img src="../../assets/img/redes.png" alt="Redes">
                </a>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <p>© Todos los derechos reservados</p>
        </div>
        <div>
            <p>Adriel Isai Rodríguez Pacheco</p>
            <p>Brian de Jesús Carpizo Fierro</p>
        </div>
        <div>
            <p>Josue Anaya Canseco</p>
            <p>Tadeo Esaú Gutiérrez Reyes</p>
        </div>
    </footer>
</body>

</html>